.avatar-group {
  display: flex;
  align-items: center;

  // Negative margin effect for overlap
  *:not(:first-child) {
    margin-left: -10px;
  }
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 9999px;
  border: 2px solid #eee;
  background-color: #e5e7eb; // Tailwind's gray-200
  font-size: 0.75rem;
  font-weight: 500;
  color: #1f2937; // Tailwind's gray-800
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 9999px;
  }

  &.avatar-extra {
    background-color: #d1d5db; // Tailwind's gray-300
    color: #374151; // Tailwind's gray-700
  }
}
